@charset "UTF-8";

.turqueza {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 1.25rem;
    background-color: #72ECD4;
}


.cristal {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 1.25rem;
    background-color: #47AACF;
}

.granja {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 1.25rem;
    background-color: #E27C3E;
}


.paseo {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 1.25rem;
    background-color: #2C3E50;
}


.concep {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 1.25rem;
    background-color: #d696d5;
}

.fremark {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 1.25rem;
    background-color: #A7ADAF;
}


